autoclip: false
autoimport: true
cliptimeout: 45
exportkeys: true
nopager: false
notifications: true
parsing: true
path: ~/Sync/Vault/password-store
safecontent: false
mounts:
    {{ if eq .chezmoi.os "darwin" -}}
    xt6: /Users/carlos/Sync/Vault/password-store-xt6
    {{ else -}}
    xt6: /home/carlos/Sync/Vault/password-store-xt6
    {{ end -}}
