{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install ripgrep
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep neovim wget fzf
brew install rectangle
brew install pass gopass
brew install --cask vimr
{{ end -}}
