{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
#v1
    {{ if eq .chezmoi.osRelease.id "arch" -}}
        sudo pacman -S ripgrep neovim fzf gopass
    {{ else if eq .chezmoi.osRelease.id "fedora" -}}
	sudo dnf install neovim git make
    {{ else -}}
        sudo apt -y install ripgrep neovim gopass keychain zsh
    {{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
#v1
brew install ripgrep neovim wget fzf zoxide
brew install exa bat
brew install -f rectangle
brew install pass gopass keychain
brew install -f --cask vimr
{{ end -}}
