{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
#v1
    {{ if eq .chezmoi.osRelease.idLike "arch" -}}
        sudo pacman -S scala go dmd rust
    {{ else -}}
        # sudo apt install ripgrep neovim
        echo No programming tools for Debian/ubuntu
    {{ end -}}
##
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
#v1
brew install -f vscodium
brew install scala
brew install dmd
brew install go 
brew install rust
{{ end -}}
