{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
#v1
    {{ if eq .chezmoi.osRelease.idLike "arch" -}}
        sudo pacman -S kubectl kubectx kubie
    {{ else -}}
        # sudo apt install ripgrep neovim
        echo No kubernetes tools for Debian/ubuntu
    {{ end -}}
##
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
#v1
brew install kubectl kubie k3sup
{{ end -}}
