#!/bin/bash
{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
echo No fonts to install on Linux yet
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew tap homebrew/cask-fonts
brew install --cask font-hack-nerd-font
{{ end -}}
